.sep
.footer-wrapper
    .footer
        .leftright
            .left
                h3 Follow me
                p.fw300 Twitter, Instagram and Facebook are in French
                ul
                    li #[a.underline(href="https://twitter.com/mx3_fr") Twitter]
                    li #[a.underline(href="https://facebook.com/mx3fr") Facebook]
                    li #[a.underline(href="https://instagram.com/mx3_fr") Instagram]
                    li #[a.underline(href="https://youtube.com/c/mx3_music") YouTube]
                    li
                        a.underline(href="https://github.com/ewen-lbh") GitHub
                    li
                        a.underline(href="https://reddit.com/u/Chroneis") Reddit
            .right
                h3 More pages
                ul
                    li
                        a.underline(href="/home") Home
                    li
                        a.underline(href="/music") Music
                    li
                        a.underline(href="/graphism") Graphism
                    li
                        a.underline(href="/about") About
                    li
                        a.underline(href="/news") News
                    li
                        a.underline(href="/news/subscribe") Newsletter
                    li
                        a.underline(href="/stats") Statistics
                    li
                        a.underline(href="/legal") Legal notice

        .below
            .logo
            p.fw300.center
                | Made with 
                span.red.halfbig 
                    i.zmdi.zmdi-favorite
                |  by Ewen Le Bihan
                br/
                | All works under the #[a.underline(href="http://creativecommons.org/licenses/by-sa/4.0/") CC BY-SA] license
