{% load i18n %}

.sep
.footer-wrapper
    .footer
        .leftright
            .left
                h3 {% trans "Follow me" %}
                p.fw300 {% trans "Twitter, Instagram and Facebook are in French" %}
                ul
                    li #[a.underline(href="https://twitter.com/mx3_fr") Twitter]
                    li #[a.underline(href="https://facebook.com/mx3fr") Facebook]
                    li #[a.underline(href="https://instagram.com/mx3_fr") Instagram]
                    li #[a.underline(href="https://youtube.com/c/mx3_music") YouTube]
                    li
                        a.underline(href="https://github.com/ewen-lbh") GitHub
                    li
                        a.underline(href="https://reddit.com/u/Chroneis") Reddit
            .right
                h3 {% trans "More pages" %}
                ul
                    li
                        a.underline(href="{% url 'home' %}") {% trans "Home" %}
                    li
                        a.underline(href="{% url 'music' %}") {% trans "Music" %}
                    li
                        a.underline(href="{% url 'graphism' %}") {% trans "Graphism" %}
                    li
                        a.underline(href="{% url 'about' %}") {% trans "About" %}
                    li
                        a.underline(href="{% url 'news' %}") {% trans "News" %}
                    li
                        a.underline(href="{% url 'contact' %}") {% trans "Contact" %}
                    li
                        a.underline(href="{% url 'stats' %}") {% trans "Statistics" %}
                    li
                        a.underline(href="{% url 'legal' %}") {% trans "Legal notice" %}

        .below
            .logo
            p.fw300.center
                | {% trans "Made with <span class='red halfbig'><i class='zmdi zmdi-favorite'></i></span> by Ewen Le Bihan" %}
                br/
                | {% trans "All works under the <a class='underline' href='http://creativecommons.org/licenses/by-sa/4.0'> CC BY-SA</a> license" %}
