-load static i18n 
//- base meta tags
meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
meta(charset='UTF-8')
meta(content='width=device-width, initial-scale=1.0', name='viewport')
meta(content='ie=edge', http-equiv='X-UA-Compatible')

//- stylesheet
link(rel="stylesheet", href='{% static "corepages/styles/style.css"%}?{% now "U" %}')

//- fonts
link(rel="stylesheet", href='{% static "corepages/fonts/zmdi/css/material-design-iconic-font.css" %}')
link(rel="stylesheet", href="{% static 'corepages/fonts/regular-fonts.css' %}")

//- jQuery
script(src="{% static 'corepages/dependencies/jquery.min.js' %}")

//- jQuery ScrollTo
script(src="{% static 'corepages/dependencies/jquery-scrollto.js' %}")

//- typedJS
script(src="{% static 'corepages/dependencies/typedjs.min.js' %}")

script(src="{% static 'corepages/scripts/app.js' %}?{% now 'U' %}")

<!-- History.js -->
//-script(src="https://browserstate.github.io/history.js/scripts/bundled/html5/jquery.history.js")

//- <!-- Ajaxify -->
//- script(src="https://rawgithub.com/browserstate/ajaxify/master/ajaxify-html5.js")