{% load static %}
meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
meta(charset='UTF-8')
meta(content='width=device-width, initial-scale=1.0', name='viewport')
meta(content='ie=edge', http-equiv='X-UA-Compatible')
link(rel="stylesheet", href='{% static "corepages/styles/style.css"%}?{% now "U" %}')
link(href='https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,600', rel='stylesheet')
link(rel="stylesheet", href='{% static "corepages/fonts/zmdi/css/material-design-iconic-font.css" %}')
script(crossorigin='anonymous', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', src='https://code.jquery.com/jquery-3.4.1.min.js')