@import 'vars'
$bpt-mobile: 1000px
    
*
    font-family: Roboto Mono, monospace
*:active, *:focus
    outline: none
    -moz-outline: none
a:not(.nodef)
    text-decoration: none
    color: var(--c-main)
    &:hover
        color: var(--c-pop)
ul:not(.nodef), ol:not(.nodef)
    list-style: none
    padding: 0
html, body
    height: 100%
    margin: 0
    padding: 0
body
    display: table
    width: 100%
a[onclick]:hover
    cursor: pointer