/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   (modified by Mx3: https://mx3creations.com/)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

p {
  font-family: Fantasque Sans Mono, sans-serif;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  outline: none;
}

a.nodefault {
  text-decoration: none;
  color: inherit;
}

input[type='submit']:hover, button:hover, a:hover, [class*=btn]:hover {
  cursor: pointer;
  text-decoration: none;
}

i.icon, span.icon {
  display: block;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

i.icon.large, span.icon.large {
  height: 128px;
}

i.icon.small, span.icon.small {
  height: 32px;
}

i.icon.play, span.icon.play {
  background-image: url("/static/corepages/images/icons/play.svg");
}

i.icon.pause, span.icon.pause {
  background-image: url("/static/corepages/images/icons/pause.svg");
}

i.icon.download, span.icon.download {
  background-image: url("/static/corepages/images/icons/download.svg");
}

i.icon.share, span.icon.share {
  background-image: url("/static/corepages/images/icons/share.svg");
}

i.icon.image, span.icon.image {
  background-image: url("/static/corepages/images/icons/image.svg");
}

i.icon.video, span.icon.video {
  background-image: url("/static/corepages/images/icons/video.svg");
}

i.icon.mail, span.icon.mail {
  background-image: url("/static/corepages/images/icons/mail.svg");
}

/*  - - - - - - - -
 * UTIL CLASSES
 * - - - - - - - -
 */
span.c-about {
  color: #EF7272;
}

span.c-news {
  color: #EDF25C;
}

span.c-contact {
  color: #EE88BB;
}

span.c-feedback {
  color: #89BFE2;
}

span.c-music {
  color: #Efba6b;
}

span.c-graphism {
  color: #8cecef;
}

span.c-video {
  color: #9e92df;
}

span.c-coding {
  color: #a1f28e;
}

.sep {
  border-bottom: 3px solid #000;
  height: 34rem;
}

.array {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

/*  - - - - - - - -
 * COMPONENTS CLASSES
 * - - - - - - - -
 */
.btn-highlight {
  font-family: "Leo Rounded", sans-serif;
  position: relative;
  font-size: 2.5rem;
}

.btn-highlight.music::before {
  background: #Efba6b;
}

.btn-highlight.video::before {
  background: #9e92df;
}

.btn-highlight.coding::before {
  background: #a1f28e;
}

.btn-highlight.graphism::before {
  background: #8cecef;
}

.btn-highlight.news::before {
  background: #EDF25C;
}

.btn-highlight.about::before {
  background: #EF7272;
}

.btn-highlight.contact::before {
  background: #EE88BB;
}

.btn-highlight.feedback::before {
  background: #89BFE2;
}

.btn-highlight::before {
  -webkit-transition: width 0.125s ease, left 0.125s ease, bottom 0.125s ease 0.225s, height 0.125s ease 0.225s;
  transition: width 0.125s ease, left 0.125s ease, bottom 0.125s ease 0.225s, height 0.125s ease 0.225s;
  background: #8CECEF;
  width: 110%;
  left: -5%;
  height: 40%;
  position: absolute;
  bottom: 30%;
  content: '';
  z-index: -1;
}

.btn-highlight:hover::before {
  width: 130%;
  left: -15%;
  height: 140%;
  bottom: -20%;
}

.btn-underline {
  display: block;
  font-family: Nord, sans-serif;
  font-size: 4rem;
}

.btn-underline::before {
  border-radius: 0.025em;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  content: '';
  height: 0.05em;
  background: #000;
  width: 0%;
  position: absolute;
  bottom: 0.125em;
  left: 12.5%;
}

.btn-underline span[class^=c-] {
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.btn-underline span[class^=c-]:nth-child(1) {
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
}

.btn-underline span[class^=c-]:nth-child(2) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.btn-underline span[class^=c-]:nth-child(3) {
  -webkit-transition-delay: 0.375s;
          transition-delay: 0.375s;
}

.btn-underline span[class^=c-]:nth-child(4) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.btn-underline:not(:hover):not(.hold-hover) span[class^=c-] {
  color: #000;
}

a:not(.nodefault) {
  text-decoration: none;
  color: #000;
}

a:not(.nodefault):not([class^='btn-']) {
  -webkit-transition: -webkit-box-shadow 0.125s ease;
  transition: -webkit-box-shadow 0.125s ease;
  transition: box-shadow 0.125s ease;
  transition: box-shadow 0.125s ease, -webkit-box-shadow 0.125s ease;
  -webkit-box-shadow: inset 0px -0.125em 0px 0px #24E5EB;
          box-shadow: inset 0px -0.125em 0px 0px #24E5EB;
}

a:not(.nodefault):not([class^='btn-']):hover {
  -webkit-box-shadow: inset 0px -1em 0px 0px #8CECEF;
          box-shadow: inset 0px -1em 0px 0px #8CECEF;
}

#content a:not(.nodefault):not([class^='btn-']) {
  -webkit-box-shadow: inset 0px -0.125em 0px 0px var(--cover-accent, #24E5EB);
          box-shadow: inset 0px -0.125em 0px 0px var(--cover-accent, #24E5EB);
}

#content a:not(.nodefault):not([class^='btn-']):hover {
  -webkit-box-shadow: inset 0px -1em 0px 0px var(--cover-accent-transparent, #8CECEF);
          box-shadow: inset 0px -1em 0px 0px var(--cover-accent-transparent, #8CECEF);
}

h2.iconheader.iconheader-music .icon {
  background-image: url(/static/corepages/images/icons/music.svg);
}

h2.iconheader.iconheader-graphism .icon {
  background-image: url(/static/corepages/images/icons/graphism.svg);
}

h2.iconheader.iconheader-video .icon {
  background-image: url(/static/corepages/images/icons/video.svg);
}

h2.iconheader.iconheader-coding .icon {
  background-image: url(/static/corepages/images/icons/coding.svg);
}

h2.iconheader.iconheader-about .icon {
  background-image: url(/static/corepages/images/icons/about.svg);
}

h2.iconheader.iconheader-contact .icon {
  background-image: url(/static/corepages/images/icons/contact.svg);
}

h2.iconheader.iconheader-feedback .icon {
  background-image: url(/static/corepages/images/icons/feedback.svg);
}

h2.iconheader.iconheader-news .icon {
  background-image: url(/static/corepages/images/icons/news.svg);
}

.iconheader .icon {
  z-index: -1;
  position: relative;
  display: inline-block;
  margin-right: 0.25em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.iconheader .icon, .iconheader .icon svg {
  height: 35px;
  width: 35px;
}

.iconheader.music .icon svg .primary-shape {
  fill: #Efba6b;
}

.iconheader.graphism .icon svg .primary-shape {
  fill: #8cecef;
}

.iconheader.video .icon svg .primary-shape {
  fill: #9e92df;
}

.iconheader.coding .icon svg .primary-shape {
  fill: #a1f28e;
}

.iconheader.about .icon svg .primary-shape {
  fill: #EF7272;
}

.iconheader.contact .icon svg .primary-shape {
  fill: #EE88BB;
}

.iconheader.feedback .icon svg .primary-shape {
  fill: #89BFE2;
}

.iconheader.news .icon svg .primary-shape {
  fill: #EDF25C;
}

.iconheader .text {
  display: inline-block;
  vertical-align: top;
  line-height: 35px;
  font-family: Leo Rounded, sans-serif;
  font-size: 35px;
}

.btn-icon.music .icon {
  margin: 0 auto;
  height: 15vw;
  width: 15vw;
}

@media (min-width: 1000px) {
  .btn-icon.music .icon {
    background: url(/static/corepages/images/icons/music.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn-icon.music .icon svg {
    display: none;
  }
}

.btn-icon.graphism .icon {
  margin: 0 auto;
  height: 15vw;
  width: 15vw;
}

@media (min-width: 1000px) {
  .btn-icon.graphism .icon {
    background: url(/static/corepages/images/icons/graphism.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn-icon.graphism .icon svg {
    display: none;
  }
}

.btn-icon.video .icon {
  margin: 0 auto;
  height: 15vw;
  width: 15vw;
}

@media (min-width: 1000px) {
  .btn-icon.video .icon {
    background: url(/static/corepages/images/icons/video.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn-icon.video .icon svg {
    display: none;
  }
}

.btn-icon.coding .icon {
  margin: 0 auto;
  height: 15vw;
  width: 15vw;
}

@media (min-width: 1000px) {
  .btn-icon.coding .icon {
    background: url(/static/corepages/images/icons/coding.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn-icon.coding .icon svg {
    display: none;
  }
}

.btn-icon.about .icon {
  margin: 0 auto;
  height: 15vw;
  width: 15vw;
}

@media (min-width: 1000px) {
  .btn-icon.about .icon {
    background: url(/static/corepages/images/icons/about.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn-icon.about .icon svg {
    display: none;
  }
}

.btn-icon.contact .icon {
  margin: 0 auto;
  height: 15vw;
  width: 15vw;
}

@media (min-width: 1000px) {
  .btn-icon.contact .icon {
    background: url(/static/corepages/images/icons/contact.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn-icon.contact .icon svg {
    display: none;
  }
}

.btn-icon.feedback .icon {
  margin: 0 auto;
  height: 15vw;
  width: 15vw;
}

@media (min-width: 1000px) {
  .btn-icon.feedback .icon {
    background: url(/static/corepages/images/icons/feedback.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn-icon.feedback .icon svg {
    display: none;
  }
}

.btn-icon.news .icon {
  margin: 0 auto;
  height: 15vw;
  width: 15vw;
}

@media (min-width: 1000px) {
  .btn-icon.news .icon {
    background: url(/static/corepages/images/icons/news.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn-icon.news .icon svg {
    display: none;
  }
}

.btn-icon {
  height: 15vw;
  width: 15vw;
  -webkit-transition: background .25s ease .5s;
  transition: background .25s ease .5s;
}

.btn-icon .text {
  text-align: center;
  font-family: Leo Rounded, sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

.btn-icon.music .icon svg {
  height: 100px;
  margin-left: 10px;
}

.btn-icon.video .icon svg {
  margin-top: -10px;
  height: 100px;
}

.btn-icon.feedback .icon svg {
  margin-top: 20px;
}

.btn-icon.news .icon svg {
  margin-top: 12px;
}

.btn-icon.contact .icon svg {
  margin-top: 10px;
}

.btn-icon .description {
  opacity: 0;
  font-size: 1rem;
}

@media (min-width: 1000px) {
  .btn-icon:hover .description {
    opacity: .75;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    padding: 10px;
    overflow: hidden;
  }
}

@media (min-width: 1000px) {
  .btn-icon.btn-icon.music:hover .icon {
    background: #Efba6b;
  }
  .btn-icon.btn-icon.graphism:hover .icon {
    background: #8cecef;
  }
  .btn-icon.btn-icon.video:hover .icon {
    background: #9e92df;
  }
  .btn-icon.btn-icon.coding:hover .icon {
    background: #a1f28e;
  }
  .btn-icon.btn-icon.about:hover .icon {
    background: #EF7272;
  }
  .btn-icon.btn-icon.contact:hover .icon {
    background: #EE88BB;
  }
  .btn-icon.btn-icon.feedback:hover .icon {
    background: #89BFE2;
  }
  .btn-icon.btn-icon.news:hover .icon {
    background: #EDF25C;
  }
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 30px;
  padding-bottom: 30px;
  height: 35px;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  overflow: hidden;
  background: transparent;
}

#navbar.scrolled {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFFAA), color-stop(50%, #FFFFFFAA), to(#FFFFFF00));
  background: linear-gradient(to bottom, #FFFFFFAA 0%, #FFFFFFAA 50%, #FFFFFF00 100%);
}

@media (max-width: 1000px) {
  #navbar {
    z-index: 100;
  }
  #navbar.scrolled {
    background: #fff;
    border-bottom: 3px solid #000;
  }
}

@media (min-width: 1000px) {
  #navbar .menu-toggle a {
    display: none;
  }
}

@media (max-width: 1000px) {
  #navbar {
    -webkit-transition: height 0.25s ease;
    transition: height 0.25s ease;
  }
  #navbar.opened {
    background: #ffffff;
    height: 95vh;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.125);
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.125);
  }
  #navbar.opened .navbar-content ul li.menu-toggle a i.zmdi.zmdi-plus {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (min-width: 1000px) {
  #navbar .search-results, #navbar .submenu {
    -webkit-box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
  }
}

#navbar .search-results {
  -webkit-transition: height 0.25s ease;
  transition: height 0.25s ease;
  background: #ffffff;
  overflow: hidden;
  overflow-y: scroll;
  height: 75vh;
  width: 100vw;
  top: 0;
  z-index: -1;
  position: fixed;
  left: 0;
  right: 0;
}

#navbar .search-results .search-results-content, body.search #main {
  padding: 20px 40px;
  margin-top: 100px;
  font-family: Fantasque Sans Mono, sans-serif;
}

#navbar .search-results .search-results-content .status, body.search #main .status {
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

#navbar .search-results .search-results-content .status.empty-query, #navbar .search-results .search-results-content .status.no-results, #navbar .search-results .search-results-content .status.searching, body.search #main .status.empty-query, body.search #main .status.no-results, body.search #main .status.searching {
  margin-top: 275px;
}

#navbar .search-results .search-results-content h4 .icon svg .primary-shape, body.search #main h4 .icon svg .primary-shape {
  fill: rgba(0, 0, 0, 0.2);
}

#navbar .search-results .search-results-content h4 .icon svg .cls-2, body.search #main h4 .icon svg .cls-2 {
  stroke: #000;
}

#navbar .search-results .search-results-content h5, body.search #main h5 {
  margin-top: 5px;
  font-size: 20px;
  font-family: Leo Rounded, sans-serif;
}

#navbar .search-results .search-results-content ul, body.search #main ul {
  margin-top: 5px;
  margin-bottom: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 1000px) {
  #navbar .search-results .search-results-content ul, body.search #main ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#navbar .search-results .search-results-content ul.music li, body.search #main ul.music li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
  grid-gap: 20px;
  margin-bottom: 25px;
}

#navbar .search-results .search-results-content ul.music li .cover, body.search #main ul.music li .cover {
  -ms-grid-column: 1;
  grid-column: 1;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

#navbar .search-results .search-results-content ul.music li .text, body.search #main ul.music li .text {
  -ms-grid-column: 2;
  grid-column: 2;
}

#navbar .search-results .search-results-content ul.music li .text .title, body.search #main ul.music li .text .title {
  font-size: 40px;
  margin-bottom: 20px;
}

#navbar .search-results .search-results-content ul.music li .text .infos, #navbar .search-results .search-results-content ul.music li .text .infos a, body.search #main ul.music li .text .infos, body.search #main ul.music li .text .infos a {
  font-size: 25px;
}

#navbar .search-results .search-results-content ul.music li .text .title, #navbar .search-results .search-results-content ul.music li .text .infos, body.search #main ul.music li .text .title, body.search #main ul.music li .text .infos {
  overflow: hidden;
  text-overflow: ellipsis;
}

#navbar .search-results .search-results-content ul.music li .text .title, body.search #main ul.music li .text .title {
  height: 1em;
}

#navbar .search-results .search-results-content ul.music li .text .infos, body.search #main ul.music li .text .infos {
  height: 2em;
}

#navbar:not(.search-opened) .search-results {
  height: 0;
}

#navbar .search button[type=submit] {
  display: none;
}

@media (max-width: 1000px) {
  #navbar .search-results {
    height: 0;
  }
  #navbar .search button[type=submit] {
    display: inline;
    font-size: 30px;
  }
  #navbar .search input:not([type=hidden]) {
    display: inline;
    width: calc(100% - 40px);
  }
  #navbar .navbar-content > ul li:first-child {
    top: 5px;
  }
}

@media (min-width: 1000px) {
  #navbar input#search {
    width: 300px;
  }
}

#navbar .navbar-content > ul li {
  margin-right: 30px;
  display: inline-block;
}

#navbar .navbar-content > ul li:not(.logo) {
  position: relative;
  bottom: 12px;
}

#navbar .navbar-content > ul li a, #navbar .navbar-content > ul li input, #navbar .navbar-content > ul li span.separator {
  font-family: Nord, sans-serif;
  font-size: 40px;
}

#navbar .navbar-content > ul li.logo a img {
  height: 50px;
  width: 50px;
  display: block;
}

#navbar .navbar-content > ul li.search input::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
}

#navbar .navbar-content > ul li.search input:-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
}

#navbar .navbar-content > ul li.search input::-ms-input-placeholder {
  color: #000;
  opacity: 0.5;
}

#navbar .navbar-content > ul li.search input::placeholder {
  color: #000;
  opacity: 0.5;
}

#navbar .navbar-content > ul li form input, #navbar .navbar-content > ul li form button {
  background: transparent;
  border: none;
}

#navbar .navbar-content > ul li.menu-toggle a {
  font-size: 75px;
  position: fixed;
  right: 30px;
  top: 5px;
}

#navbar .navbar-content > ul li.menu-toggle a i.zmdi {
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

#navbar .navbar-content > ul li.langswitch a.current {
  opacity: 0.5;
  cursor: default;
}

@media (max-width: 1000px) {
  #navbar .navbar-content > ul li:not(.menu-toggle):not(.logo) {
    display: block;
    margin: 15px 0;
  }
  #navbar .navbar-content > ul li:not(.menu-toggle):not(.logo) a {
    font-size: 60px;
    line-height: 1.2;
  }
}

#navbar .navbar-content > ul li ul.submenu {
  -webkit-transition: height 0.125s ease;
  transition: height 0.125s ease;
  height: 0;
  overflow: hidden;
  background: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

@media (min-width: 1000px) {
  #navbar .navbar-content > ul li ul.submenu {
    position: fixed;
  }
}

@media (max-width: 1000px) {
  #navbar .navbar-content > ul li ul.submenu {
    margin-left: -30px;
    width: 100vw;
  }
}

#navbar .navbar-content > ul li ul.submenu.opened {
  height: 350px;
}

@media (max-width: 1000px) {
  #navbar .navbar-content > ul li ul.submenu.opened {
    height: 100vw;
  }
}

@media (min-width: 1000px) {
  #navbar .navbar-content > ul li ul.submenu .submenu-content {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1000px) {
  #navbar .navbar-content > ul li ul.submenu .submenu-content {
    left: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  #navbar .navbar-content > ul li ul.submenu .submenu-content li {
    margin-right: 7.5vw;
  }
}

@media (max-width: 1000px) {
  #navbar .navbar-content > ul li ul.submenu .submenu-content li {
    width: 50vw;
    height: 50vw;
    margin: 0;
  }
  #navbar .navbar-content > ul li ul.submenu .submenu-content li a .icon:nth-child(1), #navbar .navbar-content > ul li ul.submenu .submenu-content li a .icon:nth-child(2) {
    margin-top: 30px;
  }
}

#navbar .navbar-content > ul li ul.submenu .submenu-content li a, #navbar .navbar-content > ul li ul.submenu .submenu-content li a .icon {
  height: 140px;
  width: 150px;
}

@media (max-width: 1000px) {
  #navbar .navbar-content > ul li ul.submenu .submenu-content li a, #navbar .navbar-content > ul li ul.submenu .submenu-content li a .icon {
    height: 25vw;
    width: 25vw;
  }
}

@media (max-width: 1000px) {
  #navbar .navbar-content > ul li ul.submenu .submenu-content li.music {
    background-color: #Efba6b;
  }
  #navbar .navbar-content > ul li ul.submenu .submenu-content li.graphism {
    background-color: #8cecef;
  }
  #navbar .navbar-content > ul li ul.submenu .submenu-content li.video {
    background-color: #9e92df;
  }
  #navbar .navbar-content > ul li ul.submenu .submenu-content li.coding {
    background-color: #a1f28e;
  }
  #navbar .navbar-content > ul li ul.submenu .submenu-content li.about {
    background-color: #EF7272;
  }
  #navbar .navbar-content > ul li ul.submenu .submenu-content li.contact {
    background-color: #EE88BB;
  }
  #navbar .navbar-content > ul li ul.submenu .submenu-content li.feedback {
    background-color: #89BFE2;
  }
  #navbar .navbar-content > ul li ul.submenu .submenu-content li.news {
    background-color: #EDF25C;
  }
  #navbar .navbar-content > ul li ul.submenu .submenu-content li .icon svg .primary-shape {
    fill: rgba(0, 0, 0, 0.2);
  }
}

#content #main {
  margin: 0 50px;
}

@media (max-width: 1000px) {
  #content #main {
    margin: 0 20px;
  }
}

#header {
  height: 500px;
  width: 100%;
}

#header .header-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  z-index: -10;
  opacity: 0.5;
  position: absolute;
}

@media (max-width: 1000px) {
  #header .header-image {
    height: 400px;
  }
}

#header .header-content {
  padding: 150px 50px 0 50px;
  padding: auto 0;
}

#header .header-content, #header .header-content .header-title, #header .header-content .header-description {
  overflow: hidden;
}

#header .header-title {
  font-size: 100px;
  margin-bottom: -20px;
  text-align: center;
}

#header .header-title .source, #header .header-title .source p, #header .header-title .animated, #header .header-title .mobile {
  font-family: Nord, sans-serif;
}

#header .header-title .typed-cursor {
  z-index: -1;
  position: relative;
}

@media (max-width: 1000px) {
  #header .header-title {
    font-size: 50px;
    margin-bottom: -5px;
  }
  #header .header-title .animated, #header .header-title .typed-cursor, #header .header-title .source {
    display: none;
  }
  #header .header-title .mobile {
    text-align: center;
    display: block;
  }
}

@media (min-width: 1000px) {
  #header .header-title .mobile {
    display: none;
  }
}

#header .header-description {
  text-align: center;
  font-size: 35px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  #header .header-description {
    font-size: 20px;
  }
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

body.home #header {
  height: 325px;
}

@media (max-width: 1000px) {
  body.home #header {
    height: 300px;
  }
}

body.home #header .header-image {
  height: 325px;
  background-position: top;
}

@media (min-width: 1000px) {
  body.home #header .header-image {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  body.home #header .header-image {
    opacity: 0.25;
  }
}

@media (max-width: 1000px) {
  body.home #header .header-image {
    height: 300px;
  }
}

body.home #header .header-content {
  padding-top: 150px;
}

@media (max-width: 1000px) {
  body.home #header .header-content {
    padding-top: 130px;
  }
}

body.home #header .header-content .header-title {
  overflow: hidden;
  font-size: 50px;
  margin-bottom: 10px;
}

body.home #header .header-content .header-title .source p, body.home #header .header-content .header-title .source, body.home #header .header-content .header-title .animated, body.home #header .header-content .header-title .mobile {
  font-family: Fantasque Sans Mono, sans-serif;
  text-transform: uppercase;
}

body.home #header .header-content .header-title .source p {
  display: none;
}

body.home #header .header-content .header-description {
  font-family: Fantasque Sans Mono, sans-serif;
  font-size: 20px;
  margin: 0;
}

@media (min-width: 1000px) {
  body.home #header .header-content .header-description {
    width: 50%;
    text-align: left;
  }
}

@media (min-width: 1000px) {
  body.home #main .group {
    padding-top: 150px;
    max-width: 1000px;
    margin: 0 auto;
  }
  body.home #main .group:first-child {
    padding-top: 20px;
  }
  body.home #main .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1000px) {
  body.home #main h2.iconheader {
    margin-top: -48px;
    text-align: center;
    margin-bottom: 15px;
  }
}

body.home #main h2.iconheader .text {
  font-size: 40px;
  line-height: 40px;
  vertical-align: top;
}

@media (max-width: 1000px) {
  body.home #main h2.iconheader .text {
    font-size: 30px;
    line-height: 30px;
  }
}

body.home #main h2.iconheader .icon, body.home #main h2.iconheader .icon svg {
  height: 50px;
  width: 50px;
}

@media (max-width: 1000px) {
  body.home #main h2.iconheader .icon {
    display: block;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  body.home #main h2.iconheader .icon, body.home #main h2.iconheader .icon svg {
    width: 75px;
    height: 75px;
  }
}

body.home #main ul[class^=proudest] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

@media (min-width: 1000px) {
  body.home #main ul[class^=proudest] {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

body.home #main ul[class^=proudest] li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 125px 1fr;
      grid-template-columns: 125px 1fr;
  margin-bottom: 20px;
  grid-gap: 20px;
}

@media (max-width: 1000px) {
  body.home #main ul[class^=proudest] li {
    width: calc(100vw - 40px);
  }
  body.home #main ul[class^=proudest] li:nth-child(4) {
    display: none;
  }
}

@media (max-width: 1000px) {
  body.home #main ul[class^=proudest] li {
    -ms-grid-columns: 75px 1fr;
        grid-template-columns: 75px 1fr;
  }
}

body.home #main ul[class^=proudest] li .title {
  font-weight: bold;
  font-size: 25px;
}

@media (max-width: 1000px) {
  body.home #main ul[class^=proudest] li .title {
    font-size: 20px;
  }
}

body.home #main ul[class^=proudest] li .date {
  margin-left: 10px;
  opacity: 0.5;
  font-size: 18px;
  position: relative;
}

body.home #main ul[class^=proudest] li .subtitle {
  display: block;
  margin-top: 10px;
  font-size: 20px;
}

@media (max-width: 1000px) {
  body.home #main ul[class^=proudest] li .subtitle {
    font-size: 18px;
  }
}

body.home #main ul[class^=proudest] li .image {
  height: 125px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 125px;
  display: block;
}

@media (max-width: 1000px) {
  body.home #main ul[class^=proudest] li .image {
    height: 75px;
  }
}

@media (max-width: 1000px) {
  body.home #main ul[class^=proudest] li .image {
    width: 75px;
  }
}

body.home #main ul[class^=proudest] li .image .icon {
  position: relative;
  font-size: 100px;
  top: 25px;
  left: 40px;
  opacity: 0;
}

body.home #main ul[class^=proudest] li .image:hover {
  opacity: 0.5;
}

body.home #main ul[class^=proudest] li .image:hover .icon {
  opacity: 1;
}

body.home #main .more-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1000px) {
  body.home #main .more-btn-wrapper {
    margin-top: 30px;
  }
}

@media (max-width: 1000px) {
  body.home #main .more-btn-wrapper {
    margin-bottom: 20px;
  }
  body.home #main .more-btn-wrapper .btn-highlight {
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  body.home #main .group:not(#currentSlide) {
    display: none;
  }
}

body.home #main ul.carousel-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.home #main ul.carousel-controls li a {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

body.home #main ul.carousel-controls .dot-prev, body.home #main ul.carousel-controls .dot-next {
  color: rgba(0, 0, 0, 0.75);
  font-size: 40px;
}

body.home #main ul.carousel-controls .dot-prev.disabled, body.home #main ul.carousel-controls .dot-next.disabled {
  color: rgba(0, 0, 0, 0.25);
}

body.home #main ul.carousel-controls [class*=dot]:not(.dot-prev):not(.dot-next) {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.25);
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

body.home #main ul.carousel-controls #currentDot {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  border-radius: 0;
}

body.home #main ul.carousel-controls #currentDot.music {
  background-color: #Efba6b;
}

body.home #main ul.carousel-controls #currentDot.graphism {
  background-color: #8cecef;
}

body.home #main ul.carousel-controls #currentDot.video {
  background-color: #9e92df;
}

body.home #main ul.carousel-controls #currentDot.coding {
  background-color: #a1f28e;
}

@media (min-width: 1000px) {
  body.home #main ul.carousel-controls {
    display: none;
  }
}

@media (min-width: 1000px) {
  body.listen #header .header-title {
    margin-top: 50px;
  }
}

@media (max-width: 1000px) {
  body.listen #header {
    height: auto;
  }
}

body.listen #header .header-image {
  opacity: 0.25;
}

@media (max-width: 1000px) {
  body.listen #header .header-image {
    opacity: 0;
  }
}

body.listen #content .play.btn-highlight::before {
  background: var(--cover-accent-transparent);
}

@media (min-width: 1000px) {
  body.listen #content #main {
    margin: 0 auto;
    max-width: 1200px;
  }
}

@media (min-width: 1100px) and (max-width: 1300px) {
  body.listen #content #main {
    margin: 0 auto;
    max-width: 1000px;
  }
}

body.listen #content .popup {
  display: none;
}

body.listen #content .description {
  margin: 50px 0;
  font-size: 20px;
  line-height: 1.2;
}

@media (max-width: 1000px) {
  body.listen #content .description {
    text-align: justify;
    font-size: 17px;
    margin-bottom: 20px;
  }
}

body.listen #content .description .ending {
  color: var(--cover-accent);
}

body.listen #content a.play.btn-highlight {
  display: inline-block;
  margin-left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body.listen #content .listen.multi {
  padding: 30px 0;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr;
      grid-template-columns: 400px 1fr;
  grid-gap: 30px;
}

@media (max-width: 1000px) {
  body.listen #content .listen.multi {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

body.listen #content .listen.multi .cover {
  height: 400px;
  width: 400px;
  background-size: cover;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  body.listen #content .listen.multi .cover {
    display: none;
  }
}

@media (min-width: 1000px) {
  body.listen #content .listen.multi .contents {
    max-width: 700px;
  }
}

body.listen #content .listen.multi .contents .tracklist {
  margin-top: 50px;
}

body.listen #content .listen.multi .contents .tracklist > li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 100px;
      grid-template-columns: 1fr 100px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

@media (max-width: 1000px) {
  body.listen #content .listen.multi .contents .tracklist > li {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 1000px) {
  body.listen #content .listen.multi .contents .tracklist > li:hover {
    -ms-grid-columns: 1fr 50px 50px;
        grid-template-columns: 1fr 50px 50px;
    width: 100%;
  }
  body.listen #content .listen.multi .contents .tracklist > li:hover .title, body.listen #content .listen.multi .contents .tracklist > li:hover .duration {
    color: var(--cover-accent);
  }
}

body.listen #content .listen.multi .contents .tracklist > li .title, body.listen #content .listen.multi .contents .tracklist > li .duration, body.listen #content .listen.multi .contents .tracklist > li .tracknum, body.listen #content .listen.multi .contents .tracklist > li .play-indicator {
  font-family: Fantasque Sans Mono, sans-serif;
  font-size: 30px;
}

@media (max-width: 1000px) {
  body.listen #content .listen.multi .contents .tracklist > li .title, body.listen #content .listen.multi .contents .tracklist > li .duration, body.listen #content .listen.multi .contents .tracklist > li .tracknum, body.listen #content .listen.multi .contents .tracklist > li .play-indicator {
    font-size: 25px;
  }
}

@media (min-width: 1000px) {
  body.listen #content .listen.multi .contents .tracklist > li .tracknum {
    display: none;
  }
}

body.listen #content .listen.multi .contents .tracklist > li .title {
  overflow: hidden;
}

body.listen #content .listen.multi .contents .tracklist > li .play-indicator {
  display: none;
  color: var(--cover-accent);
}

body.listen #content .listen.multi .contents .tracklist > li .duration {
  z-index: -1;
  opacity: 0.5;
  display: inline;
  text-align: right;
}

@media (max-width: 1000px) {
  body.listen #content .listen.multi .contents .tracklist > li .duration {
    display: none;
  }
}

body.listen #content .listen.multi .contents .tracklist > li .action {
  margin-left: -12px;
  margin-right: 2px;
  display: none;
}

body.listen #content .listen.multi .contents .tracklist > li .action:hover .icon svg {
  fill: var(--cover-accent);
}

body.listen #content .listen.multi .contents .tracklist > li .action .icon svg {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  height: 30px;
}

@media (min-width: 1000px) {
  body.listen #content .listen.multi .contents .tracklist > li:hover .action {
    display: inline;
  }
  body.listen #content .listen.multi .contents .tracklist > li:hover .duration {
    display: none;
  }
}

body.listen #content .listen.single .cover {
  margin-top: 50px;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  body.listen #content .listen.single .cover {
    display: none;
  }
}

body.listen #content .mobile-cover {
  margin: 0 auto;
  margin-top: 20px;
  height: calc(100vw - 40px);
  width: calc(100vw - 40px);
  max-height: 50vh;
  max-width: 50vh;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

@media (min-width: 1000px) {
  body.listen #content .mobile-cover {
    display: none;
  }
}

body.listen #content .actions {
  margin-top: 100px;
}

@media (max-width: 1000px) {
  body.listen #content .actions {
    width: 100vw;
    position: absolute;
    left: 0;
    margin-top: 50px;
    background: var(--cover-accent-really-transparent);
  }
}

@media (min-width: 1000px) {
  body.listen #content .actions .actions-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 1000px) {
  body.listen #content .actions .actions-content {
    padding: 15px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

body.listen #content .actions .actions-content li .text {
  font-family: Leo Rounded, sans-serif;
  text-align: center;
}

@media (min-width: 1000px) {
  body.listen #content .actions .actions-content li .text {
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  body.listen #content .actions .actions-content li .text {
    color: var(--cover-accent);
    font-weight: bold;
    opacity: 0.75;
    font-size: 25px;
  }
}

@media (min-width: 1000px) {
  body.listen #content .actions .actions-content li .icon svg .primary-shape, body.listen #content .actions .actions-content li .icon svg .cls-1, body.listen #content .actions .actions-content li .icon svg .cls-2, body.listen #content .actions .actions-content li .icon svg .cls-3, body.listen #content .actions .actions-content li .icon svg .cls-4 {
    fill: transparent;
    stroke: #000;
    stroke-width: 3px;
  }
  body.listen #content .actions .actions-content li .icon svg .cls-2, body.listen #content .actions .actions-content li .icon svg .cls-3 {
    stroke: #000;
  }
  body.listen #content .actions .actions-content li .icon:active svg .primary-shape {
    stroke: none;
    fill: var(--cover-accent);
  }
  body.listen #content .actions .actions-content li .icon:hover svg .primary-shape {
    stroke: none;
    fill: var(--cover-accent-transparent);
  }
}

@media (max-width: 1000px) {
  body.listen #content .actions .actions-content li .icon svg .primary-shape, body.listen #content .actions .actions-content li .icon svg .cls-1, body.listen #content .actions .actions-content li .icon svg .cls-2, body.listen #content .actions .actions-content li .icon svg .cls-3, body.listen #content .actions .actions-content li .icon svg .cls-4 {
    fill: transparent;
    stroke: #000;
    stroke-width: 10px;
  }
  body.listen #content .actions .actions-content li .icon svg {
    margin: 0 auto;
  }
  body.listen #content .actions .actions-content li .icon svg .primary-shape, body.listen #content .actions .actions-content li .icon svg .cls-1, body.listen #content .actions .actions-content li .icon svg .cls-2, body.listen #content .actions .actions-content li .icon svg .cls-3, body.listen #content .actions .actions-content li .icon svg .cls-4 {
    stroke: var(--cover-accent);
  }
}

body.listen #content .actions .actions-content li .icon svg {
  padding: 10px 0;
}

@media (min-width: 1000px) {
  body.listen #content .actions .actions-content li .icon svg {
    height: 150px;
  }
}

@media (max-width: 1000px) {
  body.listen #content .actions .actions-content li .icon svg {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 100px;
  }
}

body.listen #content .actions .actions-content li.artwork .icon {
  padding-left: 25px;
}

body.search #header {
  height: auto;
}

body.search #header .header-title {
  font-size: 75px;
  margin-bottom: 5px;
}

body.search #header .header-title .animated, body.search #header .header-title .source, body.search #header .header-title .source p, body.search #header .header-title .mobile {
  font-family: Fantasque Sans Mono, sans-serif;
}

@media (max-width: 1000px) {
  body.search #header .header-content {
    padding-top: 100px;
  }
  body.search #header .header-image {
    opacity: 0;
  }
}

body.error #header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.error #header .header-image {
  opacity: 1;
  height: 100vh;
  background-size: 75%;
  background-repeat: repeat;
}

body.error #header .header-content {
  padding: 0;
}

#player {
  width: 100vw;
  height: 75px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-top: 2px solid #000;
  z-index: 100;
  -webkit-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
  -webkit-transition: bottom 0.25s ease;
  transition: bottom 0.25s ease;
}

@media (max-width: 1000px) {
  #player {
    height: 110px;
  }
}

#player.closed, #player.inactive {
  bottom: -150px;
}

@media (max-width: 1000px) {
  #player.mobile-close {
    bottom: -150px;
  }
}

#player .player-content {
  padding: 10px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px max-content max-content auto;
      grid-template-columns: 100px -webkit-max-content -webkit-max-content auto;
      grid-template-columns: 100px max-content max-content auto;
  grid-gap: 20px;
}

@media (max-width: 1000px) {
  #player .player-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 5px;
  }
}

@media (min-width: 1200px) {
  #player .player-content {
    grid-gap: 50px;
  }
}

@media (max-width: 1000px) {
  #player .player-content .cover, #player .player-content .time {
    display: none !important;
  }
  #player {
    width: 100vw;
  }
}

#player .player-content .cover {
  top: -45px;
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 101;
  background-size: cover;
  background-position: center;
  display: block;
}

@media (min-width: 1200px) {
  #player .player-content .cover {
    top: -75px;
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 1000px) {
  #player .player-content .infos {
    text-align: center;
  }
}

#player .player-content .infos .title {
  font-family: Nord, sans-serif;
  font-size: 35px;
}

@media (min-width: 1000px) {
  #player .player-content .infos .title {
    max-width: 35vw;
  }
}

@media (max-width: 1000px) {
  #player .player-content .infos .title {
    font-size: 30px;
  }
}

#player .player-content .infos .from, #player .player-content .infos .collection {
  font-family: Fantasque Sans Mono, sans-serif;
  font-size: 20px;
}

@media (max-width: 1000px) {
  #player .player-content .infos .from {
    display: none;
  }
}

#player .player-content .infos .collection {
  -webkit-box-shadow: inset 0px -0.125em 0px 0px var(--player-accent);
          box-shadow: inset 0px -0.125em 0px 0px var(--player-accent);
}

@media (max-width: 1000px) {
  #player .player-content .infos .collection {
    display: none;
  }
}

#player .player-content .infos .collection:hover {
  -webkit-box-shadow: inset 0px -1em 0px 0px var(--player-accent-transparent);
          box-shadow: inset 0px -1em 0px 0px var(--player-accent-transparent);
}

#player .player-content .infos .title, #player .player-content .infos .collection {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#player .player-content .controls {
  display: -ms-grid;
  display: grid;
  font-size: 50px;
  -ms-grid-columns: 40px 40px 40px 50px;
      grid-template-columns: 40px 40px 40px 50px;
}

@media (max-width: 1000px) {
  #player .player-content .controls {
    margin: 0 auto;
  }
}

#player .player-content .controls .disabled {
  opacity: 0.25;
}

#player .player-content .controls a:nth-child(1) {
  text-align: left;
}

#player .player-content .controls a:nth-child(2) {
  text-align: center;
}

#player .player-content .controls a:nth-child(3) {
  text-align: right;
}

#player .player-content .controls a:nth-child(4) {
  text-align: right;
}

#player .player-content .controls a:nth-child(4) i {
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
}

@media (max-width: 1000px) {
  #player .player-content .controls a:nth-child(4) {
    display: none;
  }
}

#player .player-content .time span, #player .player-content .time a {
  font-family: Fantasque Sans Mono, sans-serif;
  font-size: 25px;
}

#player .player-content .time .time-separator {
  opacity: 0.5;
}

#player .player-content .time .time-bar, #player .player-content .time .time-bar-total {
  margin-top: 10px;
  top: 35px;
  position: absolute;
  height: 10px;
}

#player .player-content .time .time-bar .time-separator, #player .player-content .time .time-bar-total .time-separator {
  opacity: 0.25;
}

#player .player-content .time .time-bar {
  width: 0;
  background: var(--player-accent);
}

#player .player-content .time .time-bar-total {
  width: 300px;
  background: rgba(0, 0, 0, 0.125);
}

#player .player-content .close-btn {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  right: 20px;
  top: 20px;
  font-size: 40px;
}

@media (max-width: 1000px) {
  #player .player-content .close-btn {
    top: 15px;
    right: 25px;
    text-align: right;
  }
}

body.news #header, body.news #header .header-image {
  height: 300px;
}

@media (min-width: 1000px) {
  body.news #main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1000px) {
  body.news #main .centerer {
    max-width: 1000px;
  }
}

@media (max-width: 1000px) {
  body.news #main .centerer {
    margin: 0 5px;
  }
}

body.news #main .centerer .french-only-notice {
  margin-top: 30px;
  font-style: italic;
  font-size: 15px;
  opacity: 0.5;
  margin-bottom: 50px;
  position: relative;
}

body.news #main .centerer .newsletter h2 {
  font-family: Leo Rounded, sans-serif;
  text-transform: lowercase;
  font-size: 35px;
  margin-bottom: 10px;
  text-align: center;
}

body.news #main .centerer .newsletter .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.news #main .centerer .newsletter .form-wrapper label {
  display: none;
}

body.news #main .centerer .newsletter .form-wrapper input[name=email] {
  border: none;
  width: 500px;
}

@media (max-width: 1000px) {
  body.news #main .centerer .newsletter .form-wrapper input[name=email] {
    width: 100%;
  }
}

body.news #main .centerer .newsletter .form-wrapper input[type=submit] {
  background: transparent;
  border: none;
  margin-left: -5px;
}

body.news #main .centerer .newsletter .form-wrapper input[type=submit], body.news #main .centerer .newsletter .form-wrapper input[name=email] {
  font-size: 25px;
  height: 30px;
  font-family: Fantasque Sans Mono, sans-serif;
  border-bottom: 2px solid #000;
}

@media (max-width: 1000px) {
  body.news #main .centerer .newsletter .form-wrapper input[type=submit], body.news #main .centerer .newsletter .form-wrapper input[name=email] {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  body.news #main .centerer .newsletter .form-wrapper input[type=submit] {
    border: none;
  }
}

body.news #main .centerer ul.news li .image {
  margin-top: 10px;
  margin-bottom: 50px;
  height: 500px;
  border-radius: 15px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  body.news #main .centerer ul.news li .image {
    height: 95vw;
  }
}

@media (min-width: 1000px) {
  body.news #main .centerer ul.news li .image {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  body.news #main .centerer ul.news li .image {
    border-radius: 5px;
  }
}

body.news #main .centerer ul.news li .image:hover {
  border-radius: 0;
  height: 600px;
}

body.news #main .centerer ul.news li .text {
  text-align: left;
  font-size: 25px;
  overflow: hidden;
  line-height: 1.2;
  width: 100%;
}

@media (max-width: 1000px) {
  body.news #main .centerer ul.news li .text {
    font-size: 15px;
  }
}

body.news #main .centerer .more-news {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */