{% extends 'base.pug' %}
{% block title %}{{ page_title }}{% endblock title %}
{% block content %}
.main-content
    h1
      span#typedTitleSource
        p {% trans "Something's wrong on my end." %}
      span#typedTitle

    h2 {% trans "Internal server error." %}
    br/
    p.details {% blocktrans %} Please contact me at <a class='underline' href='mailto:ewen.lebihan7@gmail.com'> ewen.lebihan7@gmail.com</a> and describe what you were trying to do {% endblocktrans %}
{% endblock content %}