{% extends 'base.pug' %}
{% load i18n %}
{% block title %}{{ page_title }}{% endblock title %}
{% block content %}

style.
  p:not(.details), p a, dt, dd, dt a, dd a {
    font-family: Manrope
  }

.main-content
  h1
    span#typedTitleSource
      p {% trans "About" %}
    span#typedTitle

    p.faded
      |{% trans "For legal information, see" %} 
      a.underline(href="{% url 'legal' %}") {% trans "here." %}
      br/
      |{% trans "For statistics about this website, visit" %} 
      a.underline(href="{% url 'stats' %}") {% trans "this page." %}
      br/
      |{% trans "To download brand resources (logo, banner, ...), see" %} 
      a.underline(href="{% url 'brand_resources' %}") {% trans "here." %}

    h2 {% trans "What do I do ?" %}
    h3 {% trans "Music." %}
    p {% trans "I create electronic on FL Studio 20. I started when I was 7 years old, punching in melodies & beats using a Nitendo DS game, &quot;Jam with the Band&quot;. " %}
    p {% trans "Since the beginning, my music taste is&mdash;to say the least&mdash;strange. It all started with Trentemøller's &quot;Into the great wide yonder&quot;: I immediately fell in love with this incredible work on texture and sounds." %}
    p {% trans "Today, I still listen to intricate music produced by Max Cooper, Rob Clouth, James Holden, Nathan Fake, Aphex Twin and  <a class='underline' href='#artists'>plenty others</a>." %}
    p {% trans "My influence also comes from more &quot;mainstream&quot; but yet really talented artists, like deadmau5. A complete and always up-to-date list of tracks I love can be found <a class='underline' href='playlist-spotify'>on spotify</a>." %}
    p {% trans "I create music with FL Studio, on a self-built computer running Windows 10 and Pop!_OS." %}
    p #[span.firacode ->] 
      a.underline(href="{% url 'music' %}") {% trans "Listen to my stuff " %}

    h3 {% trans "Graphism." %}
    p {% trans "I also love creating logos, banners, posters, interfaces, websites, icons and&mdash;of course&mdash;cover arts. I use the Adobe suite for that." %}
    p #[span.firacode ->] 
      a.underline(href="{% url 'graphism' %}") {% trans "Look at all my creations " %}
    
    h3 {% trans "Video." %}
    p {% trans "My brother and myself make some short films sometimes, and I usually take care of the special effects part." %}
    p {% trans "I also love motion design, especially animation in interfaces or logos (I love glitchy stuff, as you can tell by the logo in the footer). Just look at how smooth and polished that set of <a class='underline' href='https://photos.app.goo.gl/vuopauhfcwJjW8nD7'>icon transitions</a> from Google is!" %}
    p #[span.firacode ->] 
      a.underline(href="{% url 'videos' %}") {% trans "See everything I made" %}

    h3 {% trans "Coding." %}
    p {% trans "I made that website myself, from the backend, database operations and server logic to the design of the page you're reading." %}
    p {% trans "Coding is the skill I learned the most recently. I use it primarily for automation scripts and website creation. For example, I made a <a class='underline' href='https://github.com/ewen-lbh/publishr'>script to automate music publishing</a>." %}
    p #[span.firacode ->] {% blocktrans %} See everything I coded on my <a class='underline' href="https://github.com/ewen-lbh">GitHub account</a>, including the whole source code of my website! {% endblocktrans %}

    h2 {% trans "What do I use ?" %}
    .group
      .left
        h3 {% trans "Hardware-wise" %}
        dl 
          dt {% trans "Processor" %}
          dd AMD Ryzen 5 1600 

          dt {% trans "Graphics" %}
          dd Radedon RX 560 

          dt {% trans "RAM" %}
          dd G.Skill Aegis 2x8Gb 

          dt {% trans "Motherboard" %}
          dd MSI B350 PC 

          dt {% trans "Sound card" %}
          dd Focusrite Scarlett 2i2 

          dt {% trans "Speakers" %}
          dd Prodipe Pro 5 v3 

          dt {% trans "MIDI Keyboard" %}
          dd M-Audio Keystation Mini 32 

          dt {% trans "Launchpad" %}
          dd Novation Launchpad S

          dt {% trans "Mouse" %}
          dd Corsair Glaive

          dt {% trans "Keyboard" %}
          dd Corsair K70

      .right
        h3 {% trans "Software-wise" %}
        dl
          dt {% trans "DAW" %}
          dd FL Studio 20 

          dt {% trans "VSTs" %}
          dd Serum, Cthulu

          dt {% trans "IDEs" %}
          dd Visual Studio Code ({% trans "web development" %}),<br/> PyCharm CE (python)

          dt {% trans "Vector-based work" %}
          dd Adobe Illustrator

          dt {% trans "General image editing" %}
          dd Adobe Photoshop

          dt {% trans "VFX and Motion Design" %}
          dd Adobe After Effects

          dt {% trans "Video editing" %}
          dd Adobe Premiere Pro

          dt {% trans "Printed stuff" %}
          dd Adobe InDesign

          dt {% trans "UI Prototyping" %}
          dd Adobe XD ({% trans "on Windows" %}),<br/> Gravit Designer ({% trans "on Pop!_OS" %})

          dt {% trans "OS" %}
          dd Windows 10 ({% trans "Gaming, Adobe suite, Music creation" %}),<br/> Pop!_OS ({% trans "Coding, studying" %})


    h3 {% trans "On this website" %}
    dl
      dt {% trans "Fonts" %}
      dd 
        span.robotomono Roboto Mono, 
        span.firacode Fira Code, 
        span.manrope: a.underline(href="https://www.behance.net/gallery/67424063/Manrope-Modern-Geometric-Sans-Serif-font-family") Manrope

      dt {% trans "Icons, backgrounds, music, logo, general design, music artworks, music videos, translations" %}
      dd {% trans "Self-made!" %}

      h2 {% trans "I want to thank..." %}
      dt {% trans "MMTuts & Grafikart" %}
      dd {% trans "For their amazing tutorials on web technologies" %}

      dt {% trans "Thomas @ <a class='underline' href='https://www.satellite-multimedia.com/'> Satellite Multimédia </a>" %}
      dd {% trans "For getting me into web development, and helping me while I was still figuring out HTML" %}

      dt {% trans "Quentin Volant" %}
      dd {% trans "For all the tips, all the time you wasted to help me kill bugs, and hosting me for free for so long." %}

    h2#artists {% trans "Artists I like" %}
    br/
    p.details {% trans "In no particular order" %}
    ul.fav-artists
      li: a.underline.name(href="https://mrbill.com") Mr Bill
      li: a.underline.name(href="https://soundcloud.com/robclouth/sets/vaetxh") Vaetxh
      li: a.underline.name(href="http://jamesholden.org") James Holden
      li: a.underline.name(href="https://squarepusher.net") Squarepusher
      li: a.underline.name(href="https://aphextwin.warp.net") Aphex Twin
      li: a.underline.name(href="https://amontobin.com") Amon Tobin
      li: a.underline.name(href="https://editbeats.com") ediT
      li: a.underline.name(href="https://nathanfake.com") Nathan Fake
      li: a.underline.name(href="https://ghostly.com/artists/lusine") Lusine
      li: a.underline.name(href="https://throwingsnow.bandcamp.com/") Throwing Snow
      li: a.underline.name(href="https://www.apparat.net") Apparat
      li: a.underline.name(href="https://charlesthefirst.net") CharlesTheFirst
      li: a.underline.name(href="https://radiohead.com") Radiohead
      li: a.underline.name(href="https://www.rone-music.com") Rone
      li: a.underline.name(href="https://facebook.com/parradmusic/") Parrad
      li: a.underline.name(href="https://deadmau5.com") deadmau5
      li: a.underline.name(href="https://facebook.com/Microtrauma") Microtrauma
      li: a.underline.name(href="https://lane8music.com") Lane 8
      li: a.underline.name(href="https://hungrymusic.fr") N'to
      li: a.underline.name(href="https://hungrymusic.fr") Worakls
      li: a.underline.name(href="https://vesselsband.com") Vessels
      li: a.underline.name(href="https://facebook.com/rivalconsoles/") Rival Consoles
      li: a.underline.name(href="https://jonhopkins.co.uk") Jon Hopkins
      li: a.underline.name(href="https://trentemoller.com") Trentemøller
      li: a.underline.name(href="https://robclouth.com") Rob Clouth
      li: a.underline.name(href="https://maxcooper.net") Max Cooper
      li: a.underline.name(href="https://www.facebook.com/ryandavissound/") Ryan Davis
     
{% endblock content %}