{% extends 'base.pug' %}
{% load i18n %}
{% block title %}{{ page_title }}{% endblock title %}
{% block content %}
.main-content
    h1
      span#typedTitleSource
        p {% trans "Brand resources" %}
      span#typedTitle

{% endblock content %}