{% extends 'base.pug' %}
{% load static %}
{% block title %}{{ page_title }}{% endblock title %}
{% block content %}
.main-content
  h1
    span#typedTitleSource
      if sent
        p Your message was sent
      else
        if send_error
          p=send_error
        else
          p Contact me
    span#typedTitle

  if send_error
    p.details 
      | If you can't send a message, please contact me using 
      a.underline(href="#other-means") these means

  form(action="{% url 'contact' %}", method="post").grid-form.form-contact
    {% csrf_token %}
    !=form
    input(type="submit", value="Send")
  .sep

  h2#other-means 
    if send_error
      | Sorry for the inconvenience.
    else
      | Want other means of contact ?
  ul.contact-means
    li
      a.underline(href="https://discord.gg/a2Yqd3j") Discord
      span.fw300  (french server)
    li
      a.underline(href="https://twitter.com/mx3_fr") Twitter
    li
      a.underline(href="https://reddit.com/u/Chroneis") Reddit
    li
      a.underline(href="mailto:ewen.lebihan7@gmail.com") Email
      span.fw300  (ewen.lebihan7@gmail.com)

script(src="{% static 'corepages/scripts/form-checkboxes.js' %}")
{% endblock content %}