{% extends 'base.pug' %}
{% load static %}
{% block title %} {{page_title}} {% endblock title %}
{% block content %}
.main-content
  h1
    | Hi! I'm 
    span.fw400 Mx3
    | , a
    br
    span#typedTitle
    span#typedTitleSource
      p web developer.
      p music producer.
      p graphist.
      p VFX artist.
      p motion designer.
  p.intro
    | I make intricate, complex, melodic and yet minimal music.
    br/
    br/
    | I also create everything I need: this website, music videos, cover arts, automation scripts,...
    br/
    br/
    span.firacode -> 
    a.underline(href='about') Learn more
  .sep
  h2 Proudest tracks
  .horizontal-grid-overflow.tracks
    .grid
      for track, collection in proudest
        a(href="{% url 'track' title=collection.slug play=track.slug %}")
          .cover(style="background-image:url('{% static 'music/images/square/'|add:collection.slug|add:'.jpg'%}')")
            if collection.kind != 'SG'
              if collection.cover_color == 'D'
                span.light=track.title
              else
                span.dark=track.title
    a(href='music')
      .arrow
  .sep
  h2 Cherry-picked artworks
  p.details-h2 Excluding cover arts
  .horizontal-grid-overflow.artworks
    .grid(data-root-path="artworks")
      a(href="Illustration_Ink-Bottle.jpg")
        .cover.img1
      a(href="Banner_FreeZaxe.png")
        .cover.img2.large
      a(href="Favicon_RecCube.png")
        .cover.img3
      a(href="Banner_Les-Harobases.png")
        .cover.img4.large
    a(href='music')
      .arrow
  .sep

  h2 Still want more?
  p.details-h2
    | Click on the big 
    span.fw400 +
    | !
{% endblock content %}

{% block typedtitles %}
script.
    var typedTitle = new Typed("#typedTitle", {
    stringsElement: "#typedTitleSource",
    typeSpeed: 50,
    backSpeed: 25,
    backDelay:2800,
    loop: true,
    loopCount: Infinity
    });
{% endblock typedtitles %}