{% extends 'base.pug' %}
{% load static i18n %}
{% block title %}{{ page_title }}{% endblock title %}
{% block content %}
.main-content
  h1
    if search_query
      | {% trans "You searched for: " %}
      br/
      span#typedTitleSource
        p= search_query
      span#typedTitle
    else
      | {% trans "You did not search for anything" %}

  if search_query
    h2
      if results_count 
        |#[span.number=results_count] {% trans "results were found" %}
      else
        | {% trans "No results found." %}
    .sep
  
  if results_count or not search_query
    ul.results
      h3 {% trans "Collections" %}
      ul.search-results-collections
        for collection in collections
          li
            a(href="{% url 'track' title=collection.slug %}")
              .cover(style="background-image:url('{% static 'music/images/square/' %}')")
      h3 {% trans "Tracks" %}
      ul.search-results-tracks
        for track in tracks
          li
            a(href="{% url 'track' title=track.collection.slug play=track.slug %}")


  if not search_query or not results_count
    p {% trans "That's sad. Wanna try  <a class='underline' href='listen/random'>something exciting</a>?" %}
{% endblock content %}

{% block typedtitles %}
script.
  var typedTitle = new Typed("#typedTitle", {
      stringsElement: "#typedTitleSource",
      typeSpeed: 25,
  });
{% endblock typedtitles %}

if not search_query or not results_count
  {% block backtotop %} {% endblock %}