{% extends 'base.pug' %}
{% load i18n %}
{% block title %} {{page_title}} {% endblock title %}
{% block content %}

.main-content
    h1
        span#typedTitleSource
            p {% trans "Statistics" %}
        span#typedTitle

    for category in stats
        h2=category.name
        ul.stats
            for stat in category.stats
                li
                    .number 
                        =stat.value
                    .desc
                        =stat.desc
    
{% endblock content %}