{% extends 'base.pug' %}
{% block title %} {{page_title}} {% endblock title %}
{% block content %}
.main-content
  h1
    span#typedTitleSource
      if subscribed
        p Thanks for signing up !
      else 
        if already_subscribed
          p Oops!
        else
          p News
    span#typedTitle

  if not subscribed
    h2 Let's keep in touch
  if already_subscribed
    p.details 
      | #{email} is already subscribed.
      br/
      | If you don't receive e-mails, please check your spam folder or 
      a.underline(href="{% url 'contact' %}") contact me

  if not subscribed
    form(action="{% url 'news' %}", method="post").grid-form.form-subscribe-newsletter
      {% csrf_token %}
      !=form
      input(type="submit", value="Subscribe!")
  .sep

  ul.news
    li
      a(href="") some
    li
      a(href="") more
    li
      a(href="") db
    li
      a(href="") magic

{% endblock content %}