-load static i18n
head
  include includes/head.pug
  title
    -block title
      |
  -block head
    |
body(class="{% block body_classes %}{% endblock %}")
  #navbar
    include includes/navbar.pug
  #content
    #header
      .header-image(style="background-image:url('{% block header_image %} {% endblock %}'), url('{% block header_image2 %} {% endblock %}')")
      .header-content
        h1.header-title
          span.mobile
            -block header_mobile_title
              |
          span.source#typedjs_source
            -block header_title
              |
          span.animated#typedjs_target
        p.header-description
          -block header_description
            |
    #main
      -block content
        |
  #footer
    include includes/footer.pug

  #player.closed
    include includes/player.pug

  //TODO hide submenu onclick outside of it if its opened
  script(src="/static/corepages/scripts/cookies.js")
  script(src="{% static 'corepages/scripts/carousel.js' %}?{% now 'U' %}")