doctype html
{% load static i18n %}
head
  include includes/head.pug
  title {% block title %}{%endblock%}
body
  .site-bg(style="background-image:url('/static/{% block site_bg %}corepages/images/misc/background-fade.png{% endblock %}');opacity:{%block site_bg_opacity %}0.15{% endblock %}")
  span.lang-switch
    include includes/langswitch.html
  include includes/menu.pug

  {% block content %}
  {% endblock content %}

  {% block backtotop %}
  .sep.sep
  p.center: a.underline(href="javascript:$('html, body').animate({scrollTop:0},1000)") {% trans 'Back to top' %}
  {% endblock backtotop %}

  include includes/footer.pug
  script(src='https://cdn.jsdelivr.net/npm/typed.js@2.0.9')
  {% block typedtitles %}
  script.
    var typedTitle = new Typed("#typedTitle", {
        stringsElement: "#typedTitleSource",
        typeSpeed: 50,
        backSpeed: 25,
        backDelay:2800,
    });
  {% endblock %}

  {% block smoothscroll %}
  script.
    $(function() {
        /**
        * Smooth scrolling to page anchor on click
        **/
        $("a[href*='#']:not([href='#'])").click(function() {
            if (
                location.hostname == this.hostname
                && this.pathname.replace(/^\//,"") == location.pathname.replace(/^\//,"")
            ) {
                var anchor = $(this.hash);
                anchor = anchor.length ? anchor : $("[name=" + this.hash.slice(1) +"]");
                if ( anchor.length ) {
                    $("html, body").animate( { scrollTop: anchor.offset().top }, 1000);
                }
            }
        });
    });
  {% endblock smoothscroll %}