{% extends 'base.pug' %}
{% load static i18n %}
{% block title %} {{page_title}} {% endblock title %}
{% block site_bg %}music/images/wide/{{collection.slug}}.jpg {% endblock site_bg %}
{% block site_bg_opacity %}0.05 {% endblock site_bg_opacity %}
{% block content %}
.main-content
    h1
        span#typedTitleSource
            p=collection.title
        span#typedTitle

    h2 {% trans "Download artworks" %}
    br/
    p.details {% trans "Click on an image to download it" %}

    .group-cover-arts
        .left
            a(href="{% static 'music/images/square/'|add:collection.slug|add:'.png' %}" download="#{collection.slug}-square-cover-art.png") 
                .square-img(style="background-image:url('{% static 'music/images/square/'|add:collection.slug|add:'.jpg' %}')")
    
        .right
            a(href="{% static 'music/images/wide/'|add:collection.slug|add:'.png' %}" download="#{collection.slug}-wide-cover-art.png") 
                .wide-img(style="background-image:url('{% static 'music/images/wide/'|add:collection.slug|add:'.jpg' %}')")
   
{% endblock content %}

{% block backtotop %}
.sep.sep
p.center: a.underline(href="{% url 'track' title=collection.slug %}") {% blocktrans %} Back to {{collection.title}} {% endblocktrans %}
{% endblock backtotop %}