-extends 'base.pug' 
-load i18n static 
{% block title %} {{page_title}} {% endblock title %}
{% block body_classes %} music {% endblock %}
{% block header_title %} 
p {% trans "Music" %}
{% endblock %}
{% block header_mobile_title %} {% trans "Music" %} {% endblock %}
{% block header_description %} {% blocktrans with hours=total_hours|floatformat count=total_count %} All of my music productions<br>{{ count }} tracks | {{ hours }} hours {% endblocktrans %} {% endblock %}
{% block header_image %} {% static 'corepages/images/headers/music.png' %} {% endblock %}
{% block content %}

a(href="{% url 'track_random' %}").btn-higlight.music Random track

{% endblock content %}