{% extends 'base.pug' %}
{% block title %} {{page_title}} {% endblock title %}
{% load static %}
{% block content %}
.main-content
  h1
    span#typedTitleSource
      p My music
    span#typedTitle
  
  h2 The latest: "{{latest.title}}" {{latest_kind}}
  a(href="listen/latest")
    .cover.fullsize.latest
  .sep

  h2 Everything
  ul
    for collection in collections
      li
        img(src="{% static 'music/images/'|add:collection.title|add:'.jpg' %}", alt="{{collection.title}} cover art")
    

{% endblock content %}