{% extends 'base.pug' %}
{% block title %} {{page_title}} {% endblock title %}
{% load static %}
{% block content %}
.main-content
  h1
    span#typedTitleSource
      p My music
    span#typedTitle
  
  h2 The latest: "#{latest.title}" #{latest.get_kind_display}
  a(href="{% url 'track_latest' %}")
    .cover.fullsize(style="background-image:url('{% static 'music/images/wide/'|add:latest.slug|add:'.jpg' %}');")
  .sep

  h2 Everything
  ul.grid
    for collection in collections
      li.item
          a(href="{% url 'track' title=collection.slug %}").image(style="background-image:url('{% static 'music/images/square/'|add:collection.slug|add:'.jpg' %}');'", alt="#{collection.title} cover art")
            .image(style="background-image:url('{% static 'music/images/square/'|add:collection.slug|add:'.jpg' %}')")

{% endblock content %}