{% extends 'base.pug' %}
{% block title %} {{page_title}} {% endblock title %}
{% block site_bg %}music/images/wide/{{collection.slug}}.jpg {% endblock site_bg %}
{% block site_bg_opacity %}0.05 {% endblock site_bg_opacity %}
{% block content %}
.main-content
    h1
        span#typedTitleSource
            if what == 'collection'
                p #{collection.title}
            else
                p "#{item.title}" by #{item.artist}
        span#typedTitle

    h2 Share this #{thing}

    ul.btn-array.quad.white-icons.big
        li.facebook
            a(href='https://www.facebook.com/sharer/sharer.php?u={{share_url}}&quote={{share_title}}', title='Share on Facebook', target='_blank', onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent({{share_url}}) + '&quote=' + encodeURIComponent({{share_url}})); return false;")
                i.zmdi.zmdi-facebook
                span Share on Facebook
        li.twitter
            a(href='https://twitter.com/intent/tweet?source={{share_url}}&text={{share_title}}:%20{{share_url}}&via=mx3_fr', target='_blank', title='Tweet', onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent({{share_title}}) + ':%20'  + encodeURIComponent({{share_url}})); return false;")
                i.zmdi.zmdi-twitter
                span Tweet
        li.reddit
            a(href='http://www.reddit.com/submit?url={{share_url}}&title={{share_title}}', target='_blank', title='Submit to Reddit')
                i.zmdi.zmdi-reddit
                span Submit to Reddit
        li.email
            a(href='mailto:?subject={{share_title}}&body={{share_message}}', target='_blank', title='Send email', onclick="window.open('mailto:?subject=' + encodeURIComponent({{share_title}}) + '&body=' +  encodeURIComponent({{share_url}})); return false;")
                i.zmdi.zmdi-email
                span Send email

    
{% endblock content %}